<%= render 'header' %>

<main data-template="join">
  <h2>Players:</h2>
  <ol>
  <% @game.players.ordered.each do |player| %>
    <li><%= "#{player.type} #{player.name}" %></li>
  <% end %>
  </ol>

  <%= form_for [@game, @player.becomes(Player)] do |f| %>
    <% f.object = @player.becomes(@player.class) %>
    <%= f.label :name, 'Name: ' %>
    <%= f.text_field :name, required: true, autofocus: true %>
    <%= f.label :type, 'Type: ' %>
    <%= f.select :type, [Detective.name, Criminal.name] %>
    <%= f.submit 'Join' %>
  <% end %>

  <%= link_to 'Back', games_path %>
</main>

