<%= content_for :'controller-name', 'games' %>
<%= content_for :'template-name', 'join' %>

<%= render layout: 'shared/wrapper',
  locals: { title: @game.name, icon: 'arrow-back', icon_href: games_path } do %>

  <div vertical layout center>
    <h2>Players:</h2>
    <ol>
    <% @game.players.each do |player| %>
      <li><%= "#{player.type} #{player.name}" %></li>
    <% end %>
    </ol>

    <%= render 'join_form' %>
  </div>

<% end -%>

