<% @players.each do |player| %>
  <div class="<%= player_classes(player: player).join(' ') %>" data-id="<%= player.id %>">
    <header>
      <h3><%= player.name %></h3>
      <%= show_player_current_node(player: player) %>
    </header>

    <div class="tickets">
      <p>Tickets:</p>
      <%= show_player_ticket_counts(player: player, ticket_counts: @ticket_counts[player.id]) %>
    </div>
    <div class="tokens">
      <p>Tokens</p>
      <%= show_player_token_counts(player: player, token_counts: @token_counts[player.id]) %>
    </div>

    <div class="moves">
      <%= show_player_moves(player: player) %>
    </div>
  </div>
<% end %>

