<!DOCTYPE html>
<html>
<head>
  <title>Scotland Yard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- TODO: Notice and alert noficiations -->
  <!--<div id="notice"><p><%= flash['notice'] %></p></div>-->
  <!--<div id="alert"><p><%= flash['alert'] %></p></div>-->

  <%= yield %>

</body>
</html>

